@page
@model ASP.Pages.checkout.thankYouModel
@{
}
<div class="mb-xl-5">
	<h1 style="text-align:center">THANK YOU FOR YOUR ORDER</h1>
	<h2 style="text-align:center">YOUR ORDER WILL BE READY IN ABOUT 30 MINUTES</h2>
	<div>
		<img src="~/images/ty2.jpg" class="w-100 mainImage" asp-append-version=true />
	</div>
</div>

<button onclick="al"></button>
